<head>
	<title>{{ if not .IsHome }}{{ .Page.Title }} - {{end}}{{ .Site.Title }}</title>
	<meta name="description" content="{{ if .Page.Params.desc }}{{ .Page.Params.desc }}{{ else }}{{ .Page.Summary }}{{ end }}">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	{{ partial "head/favicon" . }}
	{{ partial "head/opengraph" . }}
	{{ partial "head/csp" . }}
	{{ partial "tracking" . }}

	{{ partial "head/style" . }}	
	{{ partial "head/fonts" . }}
	
	{{ partial "custom-head" . }}
</head>
