:root {
	--color0-bg: #03045e;
	--color0-text: #fff;
	--color0-accent: #caf0f8;
	--color0-accent1: #90e0ef;
	--color0-accent2: #00b4d8;

	--color1-bg: #00b4d8;
	--color1-text: #000;
	--color1-accent: #03045e;
}
