body {
	font-size: calc(1rem + .5vw);
	overflow-x: hidden;
}
.hero-body {
	padding: 0 0 0 0;
}

.title, h1 {
	font-size: calc(2rem + 3vw);
}

.subtitle, h2, h3, h3, h4, h5, h6 {
	font-size: calc(1rem + 1vw);
}

.button {
	font-family: "Rajdhani";
}

.strikethrough {
	background: linear-gradient(to left top, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%);
}

.container {
	min-height: 90vh;
}

.align-right {
	align-self: flex-end;
}
.align-left {
	align-self: flex-start;
}
.align-center {
	align-self: center;
}
.align-end {
	align-self: flex-end;
}

ul {
	text-align: left;
}
li:before {
	content: "- ";
}
li ul li {
	margin-left: calc(1rem + 2vw);
}

.is-full-width {
	width: 100%;
}

.color {
	background-color: transparent;
	color: var(--color0-text);
}
.color0 {
	background-color: var(--color0-bg);
	color: var(--color0-text);
}
.color1 {
	background-color: var(--color1-bg);
	color: var(--color1-text);
}

.color0 .highlight {
	color: var(--color0-accent2);
}
.color1 .highlight {
	font-weight: bold;
}

.no-padding {
	padding: 0!important;
}

.div-img {
	position: relative;
	text-align: center;
	height: 45rem;
}
@media only screen and (min-width: 400px) {
	.div-img {
		height: 50rem;
	}
}
@media only screen and (min-width: 700px) {
	.div-img {
		height: 45rem;
	}
}
@media only screen and (min-width: 850px) {
	.div-img {
		height: 50rem;
	}
}
@media only screen and (min-width: 1000px) {
	.div-img {
		height: 55rem;
	}
}
@media only screen and (min-width: 1600px) {
	.div-img {
		height: 65rem;
	}
}
@media only screen and (min-width: 2000px) {
	.div-img {
		height: 95rem;
	}
}

.abs-centered {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 3;
}

.faded {
	filter: brightness(50%);
}

.bottom {
	/*vertical-align: bottom;*/
	bottom: 0;
}

.abnormal-img {
	max-width: inherit;
}

.centered {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.me-img {
	width: 100%;
}
@media only screen and (min-width: 1000px) {
	.me-img {
		max-width: 60rem;	
	}
}
@media only screen and (min-width: 1600px) {
	.me-img {
		max-width: 75rem;	
	}
}
@media only screen and (min-width: 2000px) {
	.me-img {
		max-width: 125rem;
	}
}

@media only screen and (max-width: 700px) {
	.me-img {
		width: 175%;	
	}
}
@media only screen and (max-width: 400px) {
	.me-img {
		width: 200%;	
	}
}

.review-card.section {
	padding: calc(2rem + 2vw);
	box-sizing: border-box;
}
.review-card {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.little-padding.section {
	padding: calc(1rem + 2vw);
}
